/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
  background-color: white;
  opacity: .7;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#signature{
  color: black
}
#portContent{
  margin-top: 20px;
}
video{
  width:100%;
}
.ParallaxVideo{ 
    height: 800px;
    padding-bottom: 50px;
    padding-top: 50px; 
}
.ParallaxVideo video{ 
    max-width: 70%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: -999;
}
.ParallaxVideo h1 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
#par-text{
  background-color: white;
  opacity: .7;
  padding: 20px;
}
