html {
    height: 100%;
  }
  
  body {
    line-height: 2;
    color:#777777;
    background-image:url("../images/");
    background-repeat:repeat;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
  }
  
  
  /* -----BASIC FRAMEWORK CSS----- */
  
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .row-vert {
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100%;
  }
  
  .right-align {
    justify-content: flex-end;
  }
  
  .left-align {
    justify-content: flex-start;
  }
  
  .split {
    justify-content: space-between;
  }
  
  .col-6 {
    width: 100%;
    height: inherit;
  }
  
  .col-4 {
    width: 66.6666%;
  }
  
  .col-3 {
    width: 50%;
  }
  
  .col-2 {
    width: 33.3333%;
  }
  
  .col-1 {
    width: 16.6666%;
  }
  
  
  /* -----ELEMENT CSS----- */
  
  
  main {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
  
  }
  
  header {
    z-index: 1;
    overflow: hidden;
    padding: 0;
    background-color: black;
    margin: 0;
    width: 100%;
  }
  
  form {
    display: block;
    margin: auto;
  }
  
  #answers h2 {
    margin: 30px 25px;
    font-size: 1.5em;
    color: white;
    line-height: .1;
  }
  
  #questions h3 {
    color: black;
    font-size: 2em;
  }
  
  p {
    font-size: .7em;
    color: white;
    line-height: 1;
    margin-left: 25px;
  }
  
  #answers p {
    font-size: 1.5em;
    color: white;
    line-height: 2;
    margin-left: 25px;
  }

  /* -----FIXED COMPONENTS----- */
  
  #gameBoard {
    width: 70%;
    margin-top: 20px;
  }
  
  #gameTitle {
    z-index: 1;
    overflow: hidden;
    padding: 0;
    background-color: black;
    margin: 0;
    width: 70%;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
  }
  
  .overlay {
    width: 100%;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    background-color: lightskyblue;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
  }

  #titleBox {
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 3;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,.5);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    font-size: 2em;
  
  }
  
  #gameFeed {
    z-index: 2;
    min-height:70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border-radius: 10px;
  }
  
  #questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    color: white;
    margin-top: 20px;
    background-color: lightblue;
    width: 70%;
    align-self: center;
    padding-right: 60px;
    padding-left: 60px;
    align-items: center;
    border-bottom: groove 3px white;
    text-align: center;
    border-radius: 10px;
  }
  
  #answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:blue;
    width: 70%;
    align-self: center;
    padding: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;

  }
  
  #answers h3 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
  }
  
  #buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }
  
  #buttonBox input {
    margin-right: 25px;
  }
  
  .startButton {
    background-color: #111413;
    border: none;
    color: white;
    align-self: center;
    padding: 30px;
    font-size: 1.5em;
    margin: auto;
    margin-top: 20px;
  }
  

  /* --- responsive ------ */
  
  @media screen and (max-width: 414px) {
  
    #titleBox,
    #answers {
      width:  100%;
     }
    #questions {
      width: 100%;
    }
  
    #questions h2{
      font-size: 1em;
      line-height: 1;
      margin-bottom: 8px;
    }
  
    p {
      margin-left: 5px;
      font-size: .5em;
    }
  
    #buttonBox {
      font-size: 1.5em;
      line-height: 1.2;
  
    }
    #answers {
      padding: 10px;
      min-height: 300px;
    }
    form {
      line-height: 1.5;
    }
  
    #buttonBox .row {
      justify-content: center;
    }
  
    .startButton {
      margin-top: 15px;
    }
  
    #answers h2 {
      line-height: 1;
      margin: 10px 10px;
    }
  
  }